%h3 Equipamentos
%ul.thumbnails
  -@equipamentos.each do |equipamento|
    %li.span3.well
      %a{classe: "thumbnail", "data-toggle"=> "lightbox", :href=>"##{equipamento.id}"}
        %img{class: "img-polaroid", src: equipamento.imagem.url(:thumb)}
      %br 
        %div.span
          %p
            %b.muted=equipamento.nome
    
    %div{:id=> "#{equipamento.id}", :class=>"lightbox hide fade",  "tabindex" => "-1", "role" => "dialog", "aria-hidden" => "true"}
      %div{:class=>"lightbox-header"}
        %button{:type=>"button", :class=>"close", "data-dismiss"=>"lightbox", "aria-hidden"=>"true"}
      %div{:class=>"lightbox-content"}
        %div
          %img{:class=>"polaroid", :src=> equipamento.imagem.url(:medium)}
        %div.lightbox-caption
          =equipamento.descricao