%h3 Equipamentos

%div
  %div{class: "row-fluid without-margin-left"}
    -@equipamentos.each do |equipamento|
      %div.span3
        %div.thumbnail.well
          %div
            %a{"data-toggle"=> "lightbox", :href=>"##{equipamento.id}"}
              %img{class: "img-rounded", src: equipamento.imagem.url(:thumb)}
            %br
          %hr
          %div.box_nome_equipamento_fora
            %div.box_nome_equipamento
              %a{:href => "##{equipamento.id}", "data-toggle"=> "lightbox"}
                %b.muted=equipamento.nome[0..50] + (equipamento.nome.length > 50 ? "..." : "")

    
          %div{:id=> "#{equipamento.id}", :class=>"lightbox hide fade",  "tabindex" => "-1", "role" => "dialog", "aria-hidden" => "true"}
            %div{:class=>"lightbox-header"}
              %button{:type=>"button", :class=>"close", "data-dismiss"=>"lightbox", "aria-hidden"=>"true"}
            %div{:class=>"lightbox-content"}
              %div
                %img{:class=>"polaroid", :src=> equipamento.imagem.url(:medium)}
              %div.lightbox-caption
                =equipamento.descricao