-if @equipamento
  %h5
    Minhas reservas para:
  %h3 
    =@equipamento.nome
    %hr

  %table.table.table-striped
    %tr
      %th Horario Inicio
      %th Horario Final
    -@equipamento.reservas.sort_by(&:horario_inicial).each do |reserva|
      %tr
        %td 
          =link_to reserva.horario_inicial.strftime("%T - %D"), equipamento_reserva_path(@equipamento, reserva)
        %td 
          =reserva.horario_final.strftime("%T - %D")
-else


  %h3 
    Minhas Reservas
    %hr

  %table.table.table-striped
    %tr
      %th Equipamento
      %th Horario Inicio
      %th Horario Final
    -current_usuario.reservas.sort_by(&:horario_inicial).each do |reserva|
      %tr
        %td 
          = link_to reserva.equipamento.nome, equipamento_reservas_path(reserva.equipamento)
        %td 
          =link_to reserva.horario_inicial.strftime("%T - %D"), equipamento_reserva_path(reserva.equipamento, reserva)
        %td 
          =reserva.horario_final.strftime("%T - %D")