%h3 
	=@equipamento.nome
	%hr
-if @equipamento.reservas.empty?
	%h4 Não há reserva para o equipamento.
-else
	%table.table.table-striped
		%tr
			%th Usuario
			%th Horario Inicio
			%th Horario Final
		-@equipamento.reservas.sort_by(&:horario_inicial).each do |reserva|
			%tr
				%td 
					=reserva.usuario.nome
				%td 
					=reserva.horario_inicial.strftime("%T - %D")
				%td 
					=reserva.horario_final.strftime("%T - %D")