%div.tabbable
	%ul.nav.nav-tabs
		%li
			%a{href: '#lA', "data-toggle" => 'tab'}
				%b
					Detalhes
		%li.active
			%a{href: '#lB', "data-toggle" => 'tab'}
				%b
					Comentários

	%div.tab-content
		%div.tab-pane{id: "lA"}
			%h5 Equipamento:
			%p	
				=@reserva.equipamento.nome

			%h5 Requerente
			%p
				%b 
					Nome:
				=@reserva.usuario.nome

			%h5 Horario Reserva

			%p
				%b
					inicio:
				=@reserva.horario_inicial.strftime("%D - %T")
			%p
				%b
					fim:
				=@reserva.horario_final.strftime("%D - %T")
			%hr



		%div.tab-pane.active{id: "lB"}
			%div.scroll
				%dl.dl-horizontal
					-@comentarios.each do |comentario|
						%dt
							=comentario.autor + ':'
						%dd.span6.well.well-small
							=comentario.texto

			= semantic_form_for [@reserva, @comentario], url: equipamento_reserva_comentarios_path(@reserva.equipamento, @reserva, @comentario) do |f|
				%dl
					%dt
						=f.input :autor, as: :select, collection: [@comentario.autor], label: false, include_blank: false
	
					%dd
						= f.input :texto, as: :text, label: 'comentario', :input_html =>{ class: 'span7', rows: 5}
					%div.span5.pull-right
						= f.submit 'Enviar'