%h2 Pesquisadores
-@usuarios.each do |usuario|
	%div.span6-well
		%div.row
			%div.span2
				.img-polaroid
					=image_tag usuario.avatar.url(:medium)
			%div.span4
				%h3
					=usuario.nome
				%p
					=image_tag "lattes_icon.png", width: 17
					= usuario.lattes
				%p
					%i.icon-envelope
					= usuario.email
				%p
					%i.icon-group
					= usuario.cargo
		%hr