%h2 Usuarios
-@usuarios.each do |usuario|
	%br
	=image_tag usuario.avatar.url(:thumb)
	%br
	%b Nome:
	= usuario.nome
	%br
	%b Email:
	= usuario.email
	%br
	%b Cargo:
	= usuario.cargo
	%br
	%b Lattes:
	= usuario.lattes