%h2 Pesquisadores
-@usuarios.each do |usuario|
	%div.span3.well
		%h4.muted
			=usuario.nome
		%span
			%img{:class=>"img-polaroid", :src=> usuario.avatar.url(:medium)}
		%div.span
			%hr
			%p
				=image_tag "lattes_icon.png", width: 16
				=link_to "Lattes", usuario.lattes
			%p
				%i.icon-envelope
				= link_to "Email", usuario.email
			%p
				%i.icon-group
				= usuario.cargo
	