%div{class: "accordion", id: "accordion2"}
  -publicacao.each do |publicacao|
    %div{class: "accordion-group"}
      %div{class: "accordion-heading"}
        %l{class: "accordion-toggle", "data-toggle" => "collapse", "data-parent" => "#accordion2", href: "#collapse-#{publicacao.id}"}
          .icon-file  
          =publicacao.titulo
      %div{class: "accordion-body collapse", id: "collapse-#{publicacao.id}"}
        %div{class: "accordion-inner"}
          %i
            =publicacao.abstract
          %div
            =link_to raw('<i class="icon-download-alt"></i> Download'), publicacao.link, :target => "_blank", class: "btn"