%span
  %h3 
    Publicações
  %span
    =search_form_for @q,:url => publicacoes_path do |f|
      %div{class: "input-prepend  pull-left"}
        %span.add-on
          %i.icon-search{style: "font-size: 1.5em;"}
        %span2
          =f.text_field :titulo_or_abstract_cont, placeholder: "Pesquisar"
      %br

%div{id: "publicacao_buscada"}
  = render 'resultado_busca', publicacao: @publicacao

= link_to 'New Publicacao', new_publicacao_path 