// Place all the styles related to the equipamentos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.without-margin-left{margin-left:0; padding-right:20px; padding-bottom:20px; }
.box_nome_equipamento{height: 70%; text-align: center; }
.box_nome_equipamento_fora{height: 80px; text-align: center; }